@model authApp.Models.User

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div> <!-- Summary of validation errors -->

    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Role"></label>
        <input asp-for="Role" type="text" />
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <button type="submit">Login</button>
</form>

<div>
    <a href="@Url.Action("ManagerSignup", "Signup")">Register</a>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
